html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: border-box;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
}
body .header{
color: green;
margin: 20px;
}